.container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column;
  margin-bottom: auto;
}

.font {
  font-weight: bold;
}

.font.text {
  font-size: 1.39rem;
  color: #f05a22;
}

.btn__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.btn__item {
  width: 49%;
  height: 34px;
  border-radius: 50px;
  background: transparent;
  border: 1px solid #57585a;
  box-sizing: border-box;
  font-weight: bold;
  color: #57585a;
}

.btn__item:hover {
  border: 1px solid #f05a22;
  background-color: #f05a22;
  color: white;
}

.btn__item[aria-checked="true"] {
  border: 1px solid #f05a22;
  background-color: #f05a22;
  color: white;
}

.modal__position {
  position: absolute;
  transform: translateX(250%) translateY(-60%);

}
